.footer-copyright
  = link_to 'http://animalfamily.tv/', target: '_blank', rel: 'noopener', class: 'logo' do
    = image_tag_base64 asset_url('logo/logo-v-mire-animals.png'), "image/png", {alt: "В мире животных"}
  p.footer-copyright__text.text-sm © 2019 Телекомпания ЗАО «Первый ТВЧ».<br>Все права защищены.
